body{
    background-color: rgb(50,165,70);
    margin: 0;
    border-width: 1vw;
  }
  
  button:hover {
      background: white;
      color: rgb(76,175,80);
  }
  
  button{ /*simpler is better */
      
      background-color: rgba(76,175,80, .7);
      border: none; 
      display:block;
      color: white;
      margin: auto;
      width: 25%;
      padding: 4vw 2vw;
      text-align: center;
      text-decoration: none;
      font-size: 1.5vw;
  }
  
  #box{
     
      background-color: rgba(76,175,80, .7);
      border: none;
      color: white; 
      margin: auto;
      padding: 5vw 1.75vw;
      width: 80%;
      text-align: center;
      text-decoration: none;
      display:block; 
      font-size: 2vw;
  }